.form_title {
  padding: 5px 20px;
}
.form_title h1 {
  font-size: 25px;
}
.form_title p {
  font-size: 15px;
}
.add_trade_form {
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
}
.form_container_one {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 20px;
}
.form_container_one .game-selects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 10px 0;
}
.form_container_one .game-info-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}
.form_container_one .text-area {
  margin-top: 20px;
  width: 100%;
}
.form_container_two {
  width: 30%;
}
.form_container_two .form-btns {
  margin: auto;
  margin-top: 50px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .add_trade_form {
    flex-direction: column;
  }
  .form_container_one {
    width: 100%;
  }
  .form_container_two {
    width: 100%;
  }
  .form_container_two .form-btns {
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .form_container_one .game-info-inputs {
    flex-direction: column;
    align-items: flex-start;
  }
  .form_container_one .text-area {
    margin: auto;
  }
}
