.one_game_container {
  display: flex;
  flex-direction: column;
  margin: 7px;
  min-width: calc(33.3333vw - 40px);
  width: calc(33.3333vw - 40px);
  overflow: hidden;
  color: black;
  margin-bottom: 20px;
  position: relative;
}
.one_game_container a {
  text-decoration: none;
  color: inherit;
}
.one_game_container a .img_container {
  width: 100%;
  height: 100%;
}
.one_game_container .img_container img {
  min-width: 100%;
  width: 100%;
  transition: opacity 0.4s ease;
  border-radius: 5px;
}
.one_game_container .img_container img:hover {
  opacity: 0.9;
}
.one_game_container a .platforms {
  position: absolute;
  top: 2%;
  left: 3%;
  color: white;
  display: flex;
}
.one_game_container a .platform {
  background-color: rgb(0 0 0 / 80%);
  font-size: 8px;
  border-radius: 3px;
  padding: 4px 3px;
  margin-right: 4px;
  font-family: PSRaveFont;
}
.one_game_container a .name {
  margin-top: 5px;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 20px;
  min-height: 40px;
  margin-bottom: 0;
}
.one_game_container a .price {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .one_game_container {
    width: calc(42vw);
    min-width: calc(42vw);
  }
}
@media (max-width: 614px) {
  .one_game_container {
    width: calc(70vw);
    min-width: calc(70vw);
  }
}
